[
 {:db/id #db/id[:db.part/backend -1]
  :entity/type :entity.type/user
  :entity/version 1
  :user/username "some-USERNAME-KEY-aaa"
  :user/email "email-01-EMAIL-KEY@site.com"
  :user/fullName "Some NAME-KEY ada"
  :user/passwordHash "0000000000000000000000000000000000000000000000000000000000000000"
  }
 {:db/id #db/id[:db.part/backend -2]
  :entity/type :entity.type/user
  :entity/version 1
  :user/username "some-username-key-ana"
  :user/email "email-02-email-key@site.com"
  :user/fullName "Some name-key aca"
  :user/passwordHash "0000000000000000000000000000000000000000000000000000000000000000"
  }
 {:db/id #db/id[:db.part/backend -3]
  :entity/type :entity.type/user
  :entity/version 1
  :user/username "some-username-key-ama"
  :user/email "email-03-email-key@site.com"
  :user/fullName "Some name-key aca"
  :user/passwordHash "0000000000000000000000000000000000000000000000000000000000000000"
  }
 {:db/id #db/id[:db.part/backend -4]
  :entity/type :entity.type/user
  :entity/version 1
  :user/username "some-username-key-aya"
  :user/email "email-04-email-key@site.com"
  :user/fullName "Some name-key aba"
  :user/passwordHash "0000000000000000000000000000000000000000000000000000000000000000"
  }
 {:db/id #db/id[:db.part/backend -5]
  :entity/type :entity.type/user
  :entity/version 1
  :user/username "some-username-key-aza"
  :user/email "email-05-email-key@site.com"
  :user/fullName "Some name-key aaa"
  :user/passwordHash "0000000000000000000000000000000000000000000000000000000000000000"
  }
 ; minimal
 {:db/id #db/id[:db.part/backend -6]
  :entity/type :entity.type/user
  :entity/version 1
  :user/username "some-username-key-aza"
  :user/email "email-06-email-key@site.com"
  :user/passwordHash "0000000000000000000000000000000000000000000000000000000000000000"
  }
 ; username not match
 {:db/id #db/id[:db.part/backend -7]
  :entity/type :entity.type/user
  :entity/version 1
  :user/username "some-username-kez-aaa"
  :user/email "email-07-email-key@site.com"
  :user/fullName "Some name-key aaa"
  :user/passwordHash "0000000000000000000000000000000000000000000000000000000000000000"
  }
 ; email not match
 {:db/id #db/id[:db.part/backend -8]
  :entity/type :entity.type/user
  :entity/version 1
  :user/username "some-username-key-aaa"
  :user/email "email-08-email-kez@site.com"
  :user/fullName "Some name-key aaa"
  :user/passwordHash "0000000000000000000000000000000000000000000000000000000000000000"
  }
 ; fullName not match
 {:db/id #db/id[:db.part/backend -9]
  :entity/type :entity.type/user
  :entity/version 1
  :user/username "some-username-key-aaa"
  :user/email "email-09-email-key@site.com"
  :user/fullName "Some name-kez aaa"
  :user/passwordHash "0000000000000000000000000000000000000000000000000000000000000000"
  }
 ]
