{
 :entity/type :entity.type/user,
 :entity/version 123,
 :user/username "username-email-existing-source"
 :user/email "email-email-existing-source@site.com"
 :user/fullName "Full Name email-existing-source"
 :user/passwordHash "0000000000000000000000000000000000000000000000000000000000000000"
 }
