[
 {:db/ident :ensure
  :db/doc "Ensure value of an attribute."
  :db/fn #db/fn
{:lang "clojure"
 :params [db e a v]
 :code (let [actual (a (d/entity db e))]
         (when-not (= v actual)
           (throw (ex-info (str "On entity " e " attribute " a " expected value " v ", but was " actual ".")
             {:type :db-ensure-failure
              :v actual}))))
 }
  :db/id #db/id[:db.part/backend]}
 ]
