[
 {:db/ident :entity/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Type of an entity. To identify individual types of entities."
	:db/id #db/id[:db.part/db] :db.install/_attribute :db.part/db}
 ]
