{
 :db/id 285873023222842,
 :entity/version 1,
 :entity/type {:db/ident :entity.type/project},
 :project/name "Name 1",
 :project/code "code-1",
 :project/visibility {:db/ident :project.visibility/private}
 }
