{
 :entity/type :entity.type/user,
 :entity/version 1,
 :user/username "username-1",
 :user/email "email1@site.com",
 :user/full-name "Full Name 1",
 :user/password-hash "96ca1a27ea5cb7cecc413e3207dd285dda936355e06d4066caa855fa6c26eead"
 }
