{
 :db/id 285873023222842,
 :entity/type {:db/ident :entity.type/project},
 :entity/version 123,
 :project/name "Name 2",
 :project/code "code-2",
 :project/visibility {:db/ident :project.visibility/public}
 }
