[
 {:db/id #db/id[:db.part/backend -1]
  :entity/type :entity.type/project
  :entity/version 123
  :project/code "code-full"
  :project/name "Name full"
  :project/visibility :project.visibility/private
  }
 {:db/id #db/id[:db.part/backend -2]
  :entity/type :entity.type/project
  :entity/version 123
  :project/code "code-optimistic"
  :project/name "Name optimistic"
  :project/visibility :project.visibility/private
  }
 ]
